/* header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #282c34;
  padding: 10px 20px;
  color: white;
}

header img {
  height: 40px;
}

header p {
  margin: 0;
  font-size: 14px;
} */